.entire
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 2px solid blue; /* Keep the border thin */
    padding: 30px; /* Increase padding to expand the size of the cells */
    text-align: left;
}
.buton
{
    background-color: white;
    color: black;
    margin-top: 15px;
    width: 100px;
    height: 20px;
    border-radius: 3px;
}