.bodys
{
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
}
.center
{
    width: 200px;
    height:50px;
    border-radius: 15px;
    margin-left: 650px;
    background-color: white;
    color: black;
    font-weight: 500;
}
h2{
    text-align: center;
}
h5{
    text-align: center;
    font-weight: 100;
}
.Na
{
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 40px;
    margin: 13px 0px;
    border-radius: 10px;
    border: 2px groove;
}
.burn{
    width: 175px;
    height: 25px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 115px;
    margin-top: 10px;
}
.closer
{
    width: 125px;
    height: 25px;
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 40px;

}
#confirmPassword
{
    width: 225px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}
/* .Appp{
    margin-left: 440px;
    margin-bottom: 300px;
}

    */