.Nay
{
    text-align: center;
    width: 175px;
    height: 20px;
    border-radius: 5px;
    border: 2px ridge;
}
.buun
{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    background-color: white;
    color: black;
    margin-top: 25px;
}
.bodi
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 
.lab
{
    margin-right: 20px;
    font-weight: 400;
}
h2{
    font-weight: 600;
}
h5{
    margin-top: 5px;
    margin-bottom: 35px;
}
